# --- Database Configuration ---
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=psu_backend
MYSQL_USER=astro
MYSQL_PASSWORD=password123
MYSQL_PORT_EXTERNAL=3307

# --- Backend Configuration ---
BACKEND_PORT_EXTERNAL=3000
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=sixanate@gmail.com
MAIL_PASSWORD=inljvvpjdtsvglwn
MAIL_USE_SSL=true
MAIL_FROM=DEX Data Exchange <sixanate@gmail.com>

# --- Frontend Configuration ---
FRONTEND_PORT_EXTERNAL=3001
SERVER_IP=localhost
FRONTEND_URL=http://localhost:3001
